@charset "utf-8";

body{
    background-color: rgb(214, 241, 223);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:rgb(5, 86, 30) ;
}
h1#principal{
    color: red;
    text-align: center;
}
h2{
    color:rgb(6, 167, 57);
}
.basico{
    color: red;

}

.intermediario{
    color: aqua;
}
.avançado{
    color: chartreuse;
}

