body{
    background-color:rgb(132, 225, 173) ;
}

main{
    background-color: white;
    padding: 50px;
    

}



header{
    background-color: rgb(44, 157, 94);
    color: white;
    
    
}
h1{
    text-align: center;
    color:;
}
p{
    text-align: center;
    
}
nav{

}